@model IEnumerable<BaiTap3_64132989.Models.EmployeeModel>

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap UX Form Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        label {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container mt-4">
        <h3 class="display-6">Đăng ký thành viên</h3>

        <ul class="nav nav-tabs mt-4">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="@Url.Action("Index", "NhanVien_64132989")">Đăng ký</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("ListEmployee", "NhanVien_64132989")">Danh sách</a>
            </li>
        </ul>

        <p>@ViewBag.message</p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.position)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.position)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>

</html>
