@helper IsActive(string controller, string action)
{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();

    if (controller.Equals(currentController, StringComparison.OrdinalIgnoreCase) &&
        action.Equals(currentAction, StringComparison.OrdinalIgnoreCase))
    {
        @:active
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .active {
            font-weight: 600;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-body-secondary shadow-sm">
        <div class="container">
            @Html.ActionLink("Hệ thống quản lý thông tin nhân viên", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        @Html.ActionLink(
                            "Giới thiệu", "Index", "Home", new { area = "" },
                            new { @class = "nav-link" + @IsActive("Home", "Index") }
                        )
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(
                            "Nhân viên", "Index", "NhanViens", new { area = "" },
                            new { @class = "nav-link" + @IsActive("NhanViens", "Index") }
                        )
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(
                            "Phòng ban", "Index", "PhongBans", new { area = "" },
                            new { @class = "nav-link" + @IsActive("PhongBans", "Index") }
                        )
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(
                            "Tìm kiếm", "Index", "TimKiem", new { area = "" },
                            new { @class = "nav-link" + @IsActive("TimKiem", "Index") }
                        )
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4 body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by Vinh Veer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
