@model BaiTap5_64132989.Models.MailInfo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-6 mb-4">Gửi email</h3>
<hr />

@* Hiển thị thông báo nếu có *@
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()

    <div class="mb-3">
        @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control w-50", placeholder = "Email cùa bạn (Email gửi)" } })
        @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mt-2 w-50", placeholder = "Mật khẩu email của bạn", type = "password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control", placeholder = "Email nhận" } })
        @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
    </div>

    <div class="mb-0">
        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Tiêu đề" } })
        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.TextAreaFor(model => model.Body, new { @class = "form-control", rows = 6, placeholder = "Nội dung" })
        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
    </div>

    <div class="mt-3 mb-5">
        <button type="submit" class="btn btn-primary">Gửi Email</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
