@model IEnumerable<BaiTap6_64132989_NoAuth.Models.NhanVien>

@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="display-6">Danh sách nhân viên</h5>

<div class="mt-3 mb-3">
    <a href="@Url.Action("Create")" class="btn btn-outline-success">
        <i class="fas fa-plus me-2"></i> Thêm nhân viên mới
    </a>
</div>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().HoNV)</th>
            <th>@Html.DisplayNameFor(model => model.First().TenNV)</th>
            <th>@Html.DisplayNameFor(model => model.First().GioiTinh)</th>
            <th>@Html.DisplayNameFor(model => model.First().NgaySinh)</th>
            <th>@Html.DisplayNameFor(model => model.First().Luong)</th>
            <th>@Html.DisplayNameFor(model => model.First().DiaChi)</th>
            <th>@Html.DisplayNameFor(model => model.First().PhongBan.TenPhongBan)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HoNV)</td>
                <td>@Html.DisplayFor(modelItem => item.TenNV)</td>
                <td>@(item.GioiTinh ? "Nam" : "Nữ")</td>
                <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                <td>@Html.DisplayFor(modelItem => item.Luong)</td>
                <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                <td>@Html.DisplayFor(modelItem => item.PhongBan.TenPhongBan)</td>
                <td class="p-0">
                    <div class="d-flex flex-row h-100">
                        <a href="@Url.Action("Edit", "NhanViens", new { id = item.MaNV })"
                            class="text-decoration-none me-3 text-secondary" title="Sửa" role="button">
                            <i class="fas fa-edit fs-5"></i>
                        </a>
                        <a href="@Url.Action("Details", "NhanViens", new { id = item.MaNV })"
                            class="text-decoration-none me-3 text-secondary" title="Chi tiết" role="button">
                            <i class="fas fa-info-circle fs-5"></i>
                        </a>
                        <a href="@Url.Action("Delete", "NhanViens", new { id = item.MaNV })"
                            class="text-decoration-none text-danger" title="Xóa" role="button">
                            <i class="fas fa-trash-alt fs-5"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
