@model IEnumerable<ThiGK64CNTT3_64132989_De2.Models.TaiSan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalPages = (int)Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize);
}

<h3 class="display-6 mb-3">Danh sách tài sản</h3>

<p>
    @Html.ActionLink("Thêm tài sản mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>STT</th>
        <th>@Html.DisplayNameFor(model => model.MaTS)</th>
        <th>@Html.DisplayNameFor(model => model.TenTS)</th>
        <th>@Html.DisplayNameFor(model => model.DVT)</th>
        <th>@Html.DisplayNameFor(model => model.XuatXu)</th>
        <th>@Html.DisplayNameFor(model => model.DonGia)</th>
        <th>@Html.DisplayNameFor(model => model.AnhMH)</th>
        <th>@Html.DisplayNameFor(model => model.LoaiTaiSan.TenLTS)</th>
        <th>@Html.DisplayNameFor(model => model.GhiChu)</th>
        <th></th>
    </tr>

    @{ int i = (ViewBag.Page - 1) * ViewBag.PageSize + 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>@Html.DisplayFor(modelItem => item.MaTS)</td>
            <td>@Html.DisplayFor(modelItem => item.TenTS)</td>
            <td>@Html.DisplayFor(modelItem => item.DVT)</td>
            <td>@(item.XuatXu ? "Trong nước" : "Ngoại nhập")</td>
            <td>@Html.DisplayFor(modelItem => item.DonGia)</td>
            <td>@Html.DisplayFor(modelItem => item.AnhMH)</td>
            <td>@Html.DisplayFor(modelItem => item.LoaiTaiSan.TenLTS)</td>
            <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
            <td>@Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaTS })</td>
        </tr>
    }
</table>

<!-- Pagination Controls -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.Page > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page - 1 })">Previous</a>
            </li>
        }
        @for (int pageNum = 1; pageNum <= totalPages; pageNum++)
        {
            <li class="page-item @(pageNum == ViewBag.Page ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = pageNum })">@pageNum</a>
            </li>
        }
        @if (ViewBag.Page < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page + 1 })">Next</a>
            </li>
        }
    </ul>
</nav>
