@model KT0720NguyenQuangVinh_64132989.Models.SinhVien

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Sinh viên</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoSV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoSV)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenSV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSV)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @(Model.GioiTinh ? "Nam" : "Nữ")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnhSV)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.AnhSV)" alt="Ảnh sinh viên" class="img-fluid" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lop.TenLop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lop.TenLop)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaSV }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
</p>
