@model IEnumerable<ThiGK_64132989.Models.TinTuc>

@{
    ViewBag.Title = "Danh sách tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalPages = ViewBag.TotalPages;
}

<h3 class="display-6 mb-3">Danh sách tin tức</h3>

<p>
    @Html.ActionLink("Thêm tin tức mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>STT</th>
        <th>@Html.DisplayNameFor(model => model.MaTT)</th>
        <th>@Html.DisplayNameFor(model => model.TieuDe)</th>
        <th>@Html.DisplayNameFor(model => model.NgonNgu)</th>
        <th>@Html.DisplayNameFor(model => model.NguoiDang)</th>
        <th>@Html.DisplayNameFor(model => model.NgayDang)</th>
        <th>@Html.DisplayNameFor(model => model.AnhDaiDien)</th>
        <th>@Html.DisplayNameFor(model => model.LoaiTinTuc.TenLTT)</th>
        <th>@Html.DisplayNameFor(model => model.GhiChu)</th>
        <th></th>
    </tr>

    @{ int i = (ViewBag.CurrentPage - 1) * ViewBag.PageSize + 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>@Html.DisplayFor(modelItem => item.MaTT) </td>
            <td>@Html.DisplayFor(modelItem => item.TieuDe)</td>
            <td>@(item.NgonNgu ? "Tiếng Việt" : "Tiếng Anh")</td>
            <td>@Html.DisplayFor(modelItem => item.NguoiDang)</td>
            <td>@Html.DisplayFor(modelItem => item.NgayDang)</td>
            <td>@Html.DisplayFor(modelItem => item.AnhDaiDien)</td>
            <td>@Html.DisplayFor(modelItem => item.LoaiTinTuc.TenLTT)</td>
            <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
            <td>@Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaTT })</td>
        </tr>
    }
</table>

<!-- Pagination Controls -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
            </li>
        }
        @for (int pageNum = 1; pageNum <= totalPages; pageNum++)
        {
            <li class="page-item @(pageNum == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = pageNum })">@pageNum</a>
            </li>
        }
        @if (ViewBag.CurrentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
            </li>
        }
    </ul>
</nav>
