@model BaiTap5_64132989.Models.EmployeeModel

@{
    ViewBag.Title = "Danh sách | Xoá thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-6">Bạn có chắc chắn muốn xóa nhân viên này?</h3>
<div class="card mt-3">
    <div class="card-body shadow-sm border-0">
        <div class="row">
            <div class="col-sm-3">
                <img src="@Url.Content(Model.avatar)" alt="Avatar" class="img-thumbnail" />
            </div>
            <div class="col-sm-9">
                <h4 class="col-sm-9">@Html.DisplayFor(model => model.fullName)</h4>
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.dateOfBirth)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.dateOfBirth)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.email)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.email)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.password)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.password)</dd>

                    @{
                        // Define department and position mappings
                        var departments = new Dictionary<string, string>
                                                        {
                            { "1", "Kinh doanh" },
                            { "2", "Kỹ thuật" },
                            { "3", "Nhân sự" }
                        };

                        var positions = new Dictionary<string, string>
                                                        {
                            { "1", "Nhân viên" },
                            { "2", "Trưởng phòng" },
                            { "3", "Giám đốc" }
                        };

                        // Get department and position text based on their values
                        var departmentText = departments.ContainsKey(Model.department) ? departments[Model.department] : "Unknown";
                        var positionText = positions.ContainsKey(Model.position) ? positions[Model.position] : "Unknown";
                    }

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.department)</dt>
                    <dd class="col-sm-9">@departmentText</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.position)</dt>
                    <dd class="col-sm-9">@positionText</dd>

                </dl>

            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    @using (Html.BeginForm("Delete", "DangKy", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Xóa thành viên</button>
        @Html.ActionLink("Trở về danh sách", "ListEmployee", "DangKy", null, new { @class = "btn btn-outline-secondary me-2" })
    }
</div>